<div>
  <div>NavBar with Title</div>
  <mat-toolbar color="primary">
    <span>VueNX</span>
  </mat-toolbar>
</div>
<hr/>
<div style="padding-top:5px;">
  <div>NavBar with Other Items</div>
  <mat-toolbar color="primary" class="navbar">
    <div>VueNX</div>
    <div>
      <span>Menu1</span>
      <span>Menu2</span>
      <span>Menu3</span>
    </div>
  </mat-toolbar>
</div>
<hr/>
