<div>
  <div>Single Panel</div>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Panel 1 Title
      </mat-panel-title>
      <mat-panel-description>
        Panel 1 Description
      </mat-panel-description>
    </mat-expansion-panel-header>
    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
    <mat-action-row>
      <button mat-raised-button>Action</button>
    </mat-action-row>
  </mat-expansion-panel>
</div>
<hr/>
<div>
  <div>Multi Panel - Independent</div>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Panel 1 Title
      </mat-panel-title>
      <mat-panel-description>
        Panel 1 Description
      </mat-panel-description>
    </mat-expansion-panel-header>
    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
    <mat-action-row>
      <button mat-raised-button>Action</button>
    </mat-action-row>
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Panel 2 Title
      </mat-panel-title>
      <mat-panel-description>
        Panel 2 Description
      </mat-panel-description>
    </mat-expansion-panel-header>
    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
    <mat-action-row>
      <button mat-raised-button>Action</button>
    </mat-action-row>
  </mat-expansion-panel>
</div>
<hr/>
<div>
  <div>Multi Panel - Linked By Accordion</div>
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Panel 1 Title
        </mat-panel-title>
        <mat-panel-description>
          Panel 1 Description
        </mat-panel-description>
      </mat-expansion-panel-header>
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
      <mat-action-row>
        <button mat-raised-button>Action</button>
      </mat-action-row>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Panel 2 Title
        </mat-panel-title>
        <mat-panel-description>
          Panel 2 Description
        </mat-panel-description>
      </mat-expansion-panel-header>
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
      <mat-action-row>
        <button mat-raised-button>Action</button>
      </mat-action-row>
    </mat-expansion-panel>
  </mat-accordion>
</div>
<hr/>
<div>
  <div>Cards</div>
  <mat-card style="max-width: 300px;margin:10px;">
    <mat-card-header>
      <mat-card-title>Card Title</mat-card-title>
      <mat-card-subtitle>Sub Title</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba1.jpg" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
    </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button>Action1</button>
        <button mat-raised-button>Action2</button>
      </mat-card-actions>
  </mat-card>
</div>
<hr/>
<div style="margin-top: 5px;">
  <div>Tabs</div>
  <mat-tab-group #tabRef (selectedTabChange)="logChanged(tabRef.selectedIndex)">
    <mat-tab label="Tab1">Tab1 Content</mat-tab>
    <mat-tab label="Tab2">Tab2 Content</mat-tab>
    <mat-tab label="Tab3">Tab3 Content</mat-tab>
  </mat-tab-group>
  <span>Selected Index = {{tabRef.selectedIndex}}</span>
</div>
<hr/>
<div style="margin-top: 5px;">
  <div>Stepper - Horizontal</div>
  <mat-horizontal-stepper #hz>
    <mat-step label="Step1">
      <p>Step One Contents</p>
      <div>
        <button mat-raised-button (click)="hz.next()">Next</button>
      </div>
    </mat-step>
    <mat-step label="Step2" optional>
      <p>Step Two Contents</p>
      <div>
        <button mat-raised-button (click)="hz.previous()">Back</button>
        <button mat-raised-button (click)="hz.next()">Next</button>
      </div>
    </mat-step>
    <mat-step label="Step3">
      <p>Step Three Contents</p>
      <div>
        <button mat-raised-button (click)="hz.previous()">Back</button>
        <button mat-raised-button (click)="hz.next()">Submit</button>
      </div>
    </mat-step>
  </mat-horizontal-stepper>
</div>
<hr/>
<div style="margin-top: 5px;">
  <div>Stepper - Vertical</div>
  <mat-vertical-stepper #vz>
    <mat-step label="Step1">
      <p>Step One Contents</p>
      <div>
        <button mat-raised-button (click)="vz.next()">Next</button>
      </div>
    </mat-step>
    <mat-step label="Step2" optional>
      <p>Step Two Contents</p>
      <div>
        <button mat-raised-button (click)="vz.previous()">Back</button>
        <button mat-raised-button (click)="vz.next()">Next</button>
      </div>
    </mat-step>
    <mat-step label="Step3">
      <p>Step Three Contents</p>
      <div>
        <button mat-raised-button (click)="vz.previous()">Back</button>
        <button mat-raised-button (click)="vz.next()">Submit</button>
      </div>
    </mat-step>
  </mat-vertical-stepper>
</div>
<hr/>
