<hr/>
<div>
  <div>Simple Input</div>
  <mat-form-field>
    <mat-label>Name</mat-label>
    <input matInput required>
    <mat-hint align="end">Min 5 chars</mat-hint>
  </mat-form-field>
  <br/>
  <mat-form-field>
    <mat-label>Simple Select</mat-label>
    <mat-select #selOpt>
      <mat-option>None</mat-option>
      <mat-option value="1">Option1</mat-option>
      <mat-option value="2">Option2</mat-option>
      <mat-option value="3">Option3</mat-option>
    </mat-select>
  </mat-form-field>
  <div>Selected Option {{selOpt.value}}</div>
  <br/>
  <mat-form-field>
    <mat-label>Select Group</mat-label>
    <mat-select #selOpt2>
      <mat-option>None</mat-option>
      <mat-optgroup label="One">
        <mat-option value="1">Option1</mat-option>
        <mat-option value="2">Option2</mat-option>
        <mat-option value="3">Option3</mat-option>
      </mat-optgroup>
      <mat-optgroup label="Two">
        <mat-option value="4">Option4</mat-option>
        <mat-option value="5">Option5</mat-option>
        <mat-option value="6">Option6</mat-option>
      </mat-optgroup>
    </mat-select>
  </mat-form-field>
  <div>Selected Option {{selOpt2.value}}</div>
  <br/>
  <div>Check Boxes</div>
  <mat-checkbox color="primary">Primary Subscribed</mat-checkbox><br/>
  <mat-checkbox labelPosition="before" color="warn">Warn Subscribe 2</mat-checkbox><br/>
  <mat-checkbox color="accent">Accent Subscribe 3</mat-checkbox><br/>
  <hr/>
  <mat-radio-group>
    <mat-radio-button color="primary" value="one">One Primary</mat-radio-button><br/>
    <mat-radio-button color="accent" value="two">Two Accent</mat-radio-button><br/>
    <mat-radio-button color="warn" value="three">Three Warn</mat-radio-button><br/>
  </mat-radio-group>
  <hr/>
  <mat-form-field>
    <input matInput [matDatepicker]="myDP">
    <mat-datepicker-toggle [for]="myDP" matSuffix></mat-datepicker-toggle>
    <mat-datepicker #myDP></mat-datepicker>
  </mat-form-field>
  <hr/>
</div>
<hr/>
<div>
  <div>Form Input - Legacy </div>
  <mat-form-field appearance="legacy">
    <mat-label>Name</mat-label>
    <input matInput required>
    <mat-hint>Min 5 chars</mat-hint>
  </mat-form-field>
</div>
<hr/>
<div>
  <div>Form Input - Outline </div>
  <mat-form-field appearance="outline" color="warn">
    <mat-label>Name</mat-label>
    <input matInput required>
    <mat-hint>Min 5 chars</mat-hint>
  </mat-form-field>
</div>
<hr/>
<div>
  <div>Form Input - Fill </div>
  <mat-form-field appearance="fill" color="accent">
    <mat-label>Name</mat-label>
    <input matInput required>
    <mat-hint>Min 5 chars</mat-hint>
  </mat-form-field>
</div>
<hr/>
