<H1>Material Basket</H1>
<hr/>
<div>
  <div>Buttons</div>
  <button mat-raised-button>Rasied Button</button>
  <button mat-stroked-button>Stroked Button</button>
  <button mat-flat-button>Flat Button</button>
  <button mat-icon-button>Icon Button</button>
  <button mat-fab>Fab</button>
  <button mat-mini-fab>MFab</button>
</div>
<hr/>
<div>
  <div>Button with Theme Colors</div>
  <button color="primary" mat-button>Primary</button>
  <button color="accent" mat-button>Accent</button>
  <button color="warn" mat-button>Warn</button>
</div>
<hr/>
<div>
  <div>Raised Button with Theme Colors</div>
  <button color="primary" mat-raised-button>Primary</button>
  <button color="accent" mat-raised-button>Accent</button>
  <button color="warn" mat-raised-button>Warn</button>
</div>
<hr/>
<div>
  <div>Stoked Button with Theme Colors</div>
  <button color="primary" mat-stroked-button>Primary</button>
  <button color="accent" mat-stroked-button>Accent</button>
  <button color="warn" mat-stroked-button>Warn</button>
</div>
<hr/>
<div>
  <div>Toggle Button</div>
  <mat-button-toggle #toggleBtn>Toggle Button</mat-button-toggle>
  <div>State is {{toggleBtn.checked}}</div>
</div>
<hr/>
<div>
  <div>Multiple Toggle Button Group</div>
  <mat-button-toggle-group #grp1 value="undefined" (change)="grp1.value=$event?$event.value:undefined" multiple>
    <mat-button-toggle value="angular">Angular</mat-button-toggle>
    <mat-button-toggle value="react">React</mat-button-toggle>
    <mat-button-toggle value="vue">Vue</mat-button-toggle>
  </mat-button-toggle-group>
  <div>Selected {{grp1.value}}</div>
</div>
<hr/>
<div>
  <div>Single Toggle Button Group</div>
  <mat-button-toggle-group #grp2 value="undefined" (change)="grp2.value=$event?$event.value:undefined">
    <mat-button-toggle value="angular">Angular</mat-button-toggle>
    <mat-button-toggle value="react">React</mat-button-toggle>
    <mat-button-toggle value="vue">Vue</mat-button-toggle>
  </mat-button-toggle-group>
  <div>Selected {{grp2.value}}</div>
</div>
<hr/>
<div>
  <div>Display Types</div>
  <div class="mat-display-1">Display1</div>
  <div class="mat-display-2">Display2</div>
  <div class="mat-display-3">Display3</div>
  <div class="mat-display-4">Display4</div>
</div>
<hr/>
<div>
  <div>Content Body</div>
  <div class="mat-body">Body</div>
  <div class="mat-body-1">Body1</div>
  <div class="mat-body-2">Body2</div>
  <div class="mat-caption">Caption</div>
</div>
<hr/>
<div>
  <div>Icon</div>
  <mat-icon color="primary">login</mat-icon>
  <mat-icon color="accent">pets</mat-icon>
  <mat-icon color="warn">warning</mat-icon>
</div>
<hr/>
<div style="padding-left:20px;">
  <div>Badges</div>
  <div>
    <span matBadge="5" matBadgePosition="above after" matBadgeColor="primary"><mat-icon color="primary">inbox</mat-icon>Inbox</span>
  </div>
  <div>
    <span matBadge="5" matBadgePosition="above before" matBadgeColor="accent"><mat-icon color="primary">inbox</mat-icon>Inbox</span>
  </div>
  <div>
    <span matBadge="5" matBadgePosition="above" matBadgeColor="warn"><mat-icon color="primary">inbox</mat-icon>Inbox</span>
  </div>
  <div>
    <span matBadge="5" matBadgePosition="below after"><mat-icon color="primary">inbox</mat-icon>Inbox</span>
  </div>
  <div>
    <span matBadge="5" matBadgePosition="below before"><mat-icon color="primary">inbox</mat-icon>Inbox</span>
  </div>
  <div>
    <span matBadge="5" matBadgePosition="below"><mat-icon color="primary">inbox</mat-icon>Inbox</span>
  </div>
</div>
<hr/>
<div>
  <div>Mat Spinner Showing Progress</div>
  <mat-progress-spinner value="40"></mat-progress-spinner>
  <mat-progress-spinner value="80"></mat-progress-spinner>
  <mat-progress-spinner value="100"></mat-progress-spinner>
</div>
<hr/>
<div>
  <div>Mat Spinner</div>
  <mat-spinner *ngIf="toggleSpinner.checked"></mat-spinner>
  <br/>
  <mat-button-toggle #toggleSpinner>Start/Stop Spinner</mat-button-toggle>
</div>
<hr/>
<div>
  <div>List</div>
  <mat-list>
    <mat-list-item>Item1</mat-list-item>
    <mat-list-item>Item2</mat-list-item>
    <mat-list-item>Item3</mat-list-item>
  </mat-list>
</div>
<hr/><div>
  <div>Nav List</div>
  <mat-nav-list>
    <a mat-list-item href="#">Item1</a>
    <a mat-list-item href="#">Item2</a>
    <a mat-list-item href="#">Item3</a>
  </mat-nav-list>
</div>
<hr/><div>
  <div>List Item with Content</div>
  <mat-list>
    <mat-list-item>
      <mat-icon matListIcon>home</mat-icon>
      <h3 matLine>Heading</h3>
      <p matLine>Details</p>
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>
      <mat-icon matListIcon>login</mat-icon>
      <h3 matLine>Login</h3>
      <p matLine>User</p>
    </mat-list-item>
  </mat-list>
</div>
<hr/>
