<div>
  <div>SideNav Modes</div>
  <mat-button-toggle-group #grpMode value="over" (change)="grpMode.value=$event?$event.value:undefined">
    <mat-button-toggle value="over">Over - Default</mat-button-toggle>
    <mat-button-toggle value="push">Push - Main Inactive</mat-button-toggle>
    <mat-button-toggle value="side">Side - Main Active</mat-button-toggle>
  </mat-button-toggle-group>
  <div>Selected {{grpMode.value}}</div>
</div>
<hr/>
<div>
  <div>Toggle SideNav</div>
  <mat-button-toggle #toggleSN>Toggle SideNav</mat-button-toggle>
  <div>State is {{toggleSN.checked}}</div>
</div>
<hr/>
<!--Header-->
<mat-sidenav-container>
  <mat-sidenav #sidenav [(opened)]="toggleSN.checked" [(mode)]="grpMode.value">
    SideNav
    <mat-nav-list>
      <a mat-list-item href="#">Nav 1</a>
      <a mat-list-item href="#">Nav 2</a>
      <mat-divider></mat-divider>
      <a mat-list-item href="#">Nav 3</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    Main
    <!--IF USING SIDE NAV to Navigate to various pages using Routing
    Router Outlet best fits here-->
    <!--<router-outlet></router-outlet>-->
    <br/>
    <button mat-raised-button (click)="sidenav.toggle()">Toggle Side Nav</button>
  </mat-sidenav-content>
</mat-sidenav-container>
<!--Footer-->
