<div>Grid with 5 Tiles 2 Columns with Gutter Size for Spacing</div>
<mat-grid-list cols="2" gutterSize="20px">
  <mat-grid-tile-header>Header</mat-grid-tile-header>
  <mat-grid-tile>Tile1</mat-grid-tile>
  <mat-grid-tile>Tile2</mat-grid-tile>
  <mat-grid-tile>Tile3</mat-grid-tile>
  <mat-grid-tile>Tile4</mat-grid-tile>
  <mat-grid-tile>Tile5</mat-grid-tile>
  <mat-grid-tile-footer>Footer</mat-grid-tile-footer>
</mat-grid-list>
<hr/>
<div>Grid with 5 Tiles 2 Columns, 1 Tile 2 Colspan</div>
<mat-grid-list cols="2">
  <mat-grid-tile-header>Header</mat-grid-tile-header>
  <mat-grid-tile colspan="2">ColSpan2</mat-grid-tile>
  <mat-grid-tile>Tile2</mat-grid-tile>
  <mat-grid-tile>Tile3</mat-grid-tile>
  <mat-grid-tile>Tile4</mat-grid-tile>
  <mat-grid-tile>Tile5</mat-grid-tile>
  <mat-grid-tile-footer>Footer</mat-grid-tile-footer>
</mat-grid-list>
<hr/>
<div>Grid with 5 Tiles 2 Columns, 1 Tile 2 Rowspan</div>
<mat-grid-list cols="2">
  <mat-grid-tile-header>Header</mat-grid-tile-header>
  <mat-grid-tile rowspan="2">RowSpan2</mat-grid-tile>
  <mat-grid-tile>Tile2</mat-grid-tile>
  <mat-grid-tile>Tile3</mat-grid-tile>
  <mat-grid-tile>Tile4</mat-grid-tile>
  <mat-grid-tile>Tile5</mat-grid-tile>
  <mat-grid-tile-footer>Footer</mat-grid-tile-footer>
</mat-grid-list>
<hr/>
<div>RowHeight Fixed - Grid with 5 Tiles 2 Columns, 1 Tile 2 Rowspan</div>
<mat-grid-list cols="2" rowHeight="100px">
  <mat-grid-tile-header>Header</mat-grid-tile-header>
  <mat-grid-tile rowspan="2">RowSpan2</mat-grid-tile>
  <mat-grid-tile>Tile2</mat-grid-tile>
  <mat-grid-tile>Tile3</mat-grid-tile>
  <mat-grid-tile>Tile4</mat-grid-tile>
  <mat-grid-tile>Tile5</mat-grid-tile>
  <mat-grid-tile-footer>Footer</mat-grid-tile-footer>
</mat-grid-list>
<hr/>
<div>RowHeight Relative 2:1 - Grid with 5 Tiles 2 Columns, 1 Tile 2 Rowspan</div>
<mat-grid-list cols="2" rowHeight="2:1">
  <mat-grid-tile-header>Header</mat-grid-tile-header>
  <mat-grid-tile rowspan="2">RowSpan2</mat-grid-tile>
  <mat-grid-tile>Tile2</mat-grid-tile>
  <mat-grid-tile>Tile3</mat-grid-tile>
  <mat-grid-tile>Tile4</mat-grid-tile>
  <mat-grid-tile>Tile5</mat-grid-tile>
  <mat-grid-tile-footer>Footer</mat-grid-tile-footer>
</mat-grid-list>
<hr/>
<div>RowHeight Fixed Container Height 300px - Grid with 5 Tiles 2 Columns, 1 Tile 2 Rowspan</div>
<mat-grid-list cols="2" rowHeight="fit" style="height:300px;">
  <mat-grid-tile-header>Header</mat-grid-tile-header>
  <mat-grid-tile rowspan="2">RowSpan2</mat-grid-tile>
  <mat-grid-tile>Tile2</mat-grid-tile>
  <mat-grid-tile>Tile3</mat-grid-tile>
  <mat-grid-tile>Tile4</mat-grid-tile>
  <mat-grid-tile>Tile5</mat-grid-tile>
  <mat-grid-tile-footer>Footer</mat-grid-tile-footer>
</mat-grid-list>
